@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 15px;
    height: 15px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
    /* padding-top: 100px; */
    position: relative;
    /* margin-top: 200px; */
  }

  .loading-h3{
    color: #f3f3f3;
  }

.homeGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 40px;
    /* column-gap: 50px; */
    /* grid-ga */
    /* width: 90vw; */
}

.grid{
    height: 10vw;
    background-color: black;
    margin: 10px;
    border-radius: 10px;
    border:2px;
    border-color: white;
    color: white;
}

.homeDiv{
    height: 100%;
    /* background-color: #0e0e0e; */
    background-color: rgb(29, 30, 29);
    /* opacity: 0.2; */
}

.watchImage{
    /* height: 35vh; */
    height: 80%;
    /* width: 100%; */
}

.h2{
    color:whitesmoke;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: start;
    display: flex;
    padding-left: 30px;
}

.centerDiv{
    max-height: 100%;
    min-height: 100vh;
    background-color: #0e0d0d;
    padding-top: 25%;
}

.watchItem{
    /* width: 100px; */
    height:40vh ;
    /* width: 15vw; */
    /* background-color: #0e0d0d; */
    /* padding: 20px; */
    /* margin: 20px; */
    width: 100%;
}

.watchItem:hover{
    width: 105%;
}

.subDiv{
    width: 80%;
    background-color: #0e0d0d;
}

.h2search{
    color:black
}

.searchDiv{
    min-height: 100vh;
    max-height: 100%;
    background-color: rgb(29, 30, 29);
}

.h2Search{
    align-items: start;
    display: flex;
    color: #f3f3f3;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}