.watchDiv{
    background-color: black;
    padding: 1px;
    flex: 1;
    /* border-radius: 10px; */
}

.watchDiv:hover{
    /* width: 84%; */
    box-shadow: 7px 10px rgb(62, 62, 61);
}

/* .watchDiv:hover{

} */

.subDivv{
    width: 80%;
}

/* .subDivv:hover{
    width: 85%;
} */

.h3{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    width: 320px;
    justify-content: center;
}